*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	word-spacing: 3px;
	letter-spacing: 1px;
}
body
{
	min-height: 100vh;
	background: linear-gradient(to bottom,#96CDCD,#5F9F9F);
}
.flex-center
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-size
{
	width: 90vw;
	min-height: 90vh;
	margin: 5vh 5vw 5vh 5vw;
}
.container
{
	color: white;
	flex-wrap: wrap;
	background-color: rgba(30,30,30,1);
	box-shadow: 0 0 40px 5px skyblue;
}
.row1
{
	flex-wrap: wrap;
}


.box1
{
	flex: 1 1 320px;
	height: 250px;
	flex-wrap: wrap;
	padding: 20px;
	background-color: rgba(30,30,30,1);
	border: 1px solid skyblue;
}
.box1 img
{
	height: 120px;
	width: 120px;
	border-radius: 50%;
}
.box1 h1
{
	flex: 0 1 100%;
	font-size: 25px;
	height: 30%
	margin: 10px;
	color: skyblue;
}
.box1 h3
{
	flex: 0 1 100%;
	font-size: 20px;
	height: 10%;
	margin: 5px;
	text-transform: capitalize;
	text-align: center;
}



.box2
{
	flex: 1 1 600px;
	height: 250px;
	background-color: rgba(30,30,30,1);
	border: 1px solid skyblue;
	flex-wrap: wrap;
	padding: 20px;

}
.box2 h2
{
	height: 20%;
	flex: 1 1 100%;
	color: skyblue;
}
.box2 h5
{
	height: 20px;
	flex: 1 1 100%;
}
.box2 progress
{
	height: 15px;
	flex: 1 1 100%;	
}



.row2
{
	flex-wrap: wrap;
	background-color: rgba(30,30,30,1);
}
.box3 ,.box4
{
	flex: 1 1 100%;
	border: 1px solid skyblue;
	padding: 20px;
}

.education-size, .project-size
{
	margin: 20px 20% 20px 20%;
	color: skyblue;
}
.bsc ,.hsc, .ssc, .todo, .auction
{
	width: 100%;
	padding: 20px;
	margin: 20px 0px 20px 0px;
	border: 1px solid white;
	color: white;
}

.college
{
	font-size: 25px;
	font-weight: 999;
	color: solid white;
}
.college img
{
	height: 25px;
	width: 25px;
}
.course
{
	font-size: 20px;
	color: skyblue;
}
.year
{
	font-size: 15px;
	padding: 3px 0px;
	color: rgba(205,205,205,1);
}
.title
{
	padding: 4px;
	color: skyblue;
	text-transform: capitalize;
}
.description
{
	color: rgba(205,205,205,1);
	padding: 2px 2px 12px 2px; 
}
.tech
{
	font-size: 20px;
}
.tech-head
{
	color: skyblue;
}
.tech-data
{
	padding: 5px 10px 5px 10px;
}
.project-size a
{
	display: block;
	text-decoration: none;
	color: skyblue;
	padding: 5px 3px;
	margin: 5px 0px;
}
.project-size a:hover
{
	text-shadow: 0px 0px 2px white;
}
.link
{
	padding: 4px;
	color: skyblue;
	text-transform: capitalize;	
}

.row3
{
	display: flex;
	flex-wrap: wrap;
	background-color: rgba(30,30,30,1);
}
.box5
{
	flex: 1 1 500px;
	height: 150px;
	flex-wrap: wrap;
	padding: 20px 40px;
	background-color: rgba(30,30,30,1);
	border: 1px solid skyblue;
	color: skyblue;
}

.box6
{
	flex: 1 1 500px;
	height: 150px;
	background-color: rgba(30,30,30,1);
	border: 1px solid skyblue;
	flex-wrap: wrap;
	padding: 20px;
	color: skyblue;
}
.box6 img
{
	height: 40px;
	width: 40px;
	border-radius: 10px;
	margin: 5px;
	background-color: white;
	flex-wrap: wrap;
}
.box6 img:hover
{
	background-color: skyblue;
}
.social-head, .social-icon
{
	flex: 1 1 100%;	
	font-weight: 999;
}
.email label
{
	display: inline-block;
	width: 100px;
	color: white;
	padding: 3px;
}
.email a
{
	color: skyblue;
	padding: 3px;
}

@media(max-width: 450px)
{
	.container-size
	{
		width: 99vw;
		height: 99vh;
		margin: 0px;
	}
}
@media(max-width: 900px)
{
	.education-size, .project-size
	{
		margin: 20px 3% 20px 3%;
	}
}
